workflows/workflow-openvoice-clone.json
{
  "name": "🎙️ Teste OpenVoice - Clone de Voz",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Este é um teste de clonagem de voz com OpenVoice. A tecnologia permite replicar características vocais únicas."
            },
            {
              "name": "language",
              "value": "pt-br"
            },
            {
              "name": "speed",
              "value": "1.0"
            }
          ]
        },
        "options": {}
      },
      "id": "set-parameters",
      "name": "Configurar Parâmetros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://openvoice:8000/status"
      },
      "id": "check-status",
      "name": "Verificar Status OpenVoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://openvoice:8000/languages"
      },
      "id": "check-languages",
      "name": "Verificar Idiomas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kokoro-tts:8880/v1/audio/speech",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "kokoro"
            },
            {
              "name": "input",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice",
              "value": "af_sarah"
            },
            {
              "name": "speed",
              "value": "={{ $json.speed }}"
            },
            {
              "name": "response_format",
              "value": "wav"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "kokoro-base",
      "name": "1. Kokoro - Gerar Áudio Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openvoice:8000/clone",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Configurar Parâmetros').item.json.text }}"
            },
            {
              "name": "language",
              "value": "={{ $('Configurar Parâmetros').item.json.language }}"
            },
            {
              "name": "speed",
              "value": "={{ $('Configurar Parâmetros').item.json.speed }}"
            }
          ]
        },
        "options": {
          "bodyParameter": {
            "sendBinaryData": true,
            "binaryPropertyName": "data",
            "binaryPropertyOutput": "reference_audio"
          }
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "openvoice-clone",
      "name": "2. OpenVoice - Clonar Voz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "notes": "Envia o áudio do Kokoro como referência para o OpenVoice"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ Pipeline completo executado!"
            },
            {
              "name": "step1",
              "value": "Kokoro TTS - Áudio base gerado"
            },
            {
              "name": "step2",
              "value": "OpenVoice - Clonagem processada"
            },
            {
              "name": "text",
              "value": "={{ $('Configurar Parâmetros').item.json.text }}"
            },
            {
              "name": "language",
              "value": "={{ $('Configurar Parâmetros').item.json.language }}"
            }
          ]
        },
        "options": {}
      },
      "id": "result",
      "name": "Resultado Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configurar Parâmetros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Parâmetros": {
      "main": [
        [
          {
            "node": "Verificar Status OpenVoice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Idiomas",
            "type": "main",
            "index": 0
          },
          {
            "node": "1. Kokoro - Gerar Áudio Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Kokoro - Gerar Áudio Base": {
      "main": [
        [
          {
            "node": "2. OpenVoice - Clonar Voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. OpenVoice - Clonar Voz": {
      "main": [
        [
          {
            "node": "Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-08T00:00:00.000Z",
  "versionId": "1"
}
